<h3>Personal details</h3>
<div class="form-inline">
  <%= text_field person, :same_as, :id => "myViafId" %>
  <button id='import_viaf' class="btn btn-default" type="button" onclick="viafImport();">
    Import from VIAF
  </button>
  <%= #Hidden field for the URI
      text_field person, :same_as_uri, :hidden => true, :multiple => true %>
</div>
<table class="table table-striped">
  <tbody>

  <tr>
    <td>
      <strong><%= label person, :given_name, 'Given name:' %></strong>
    </td>
    <td>
      <%= text_field person, :given_name %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= label person, :family_name, 'Family name:' %></strong>
    </td>
    <td>
      <%= text_field person, :family_name %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= label person, :additional_name, 'Additional name:' %></strong>
    </td>
    <td>
      <%= text_field person, :additional_name %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= label person, :award, 'Award:' %></strong>
    </td>
    <td>
      <%= text_field person, :award %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= label person, :address, 'Address:' %></strong>
    </td>
    <td>
      <%= text_field person, :address %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= label person, :gender, 'Gender:' %></strong>
    </td>
    <td>
      <%= text_field person, :gender %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= label person, :job_title, 'Job title:' %></strong>
    </td>
    <td>
      <%= text_field person, :job_title %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= label person, :email, 'Email:' %></strong>
    </td>
    <td>
      <% if !@person.email.empty? %>
          <% @person.email.each do |email| %>
              <%= text_field person, :email, :multiple => true, :value => email %>
          <% end %>
      <% else %>
          <%= text_field person, :email, :multiple => true %>
      <% end %>
      <%= button_tag "Add more", type: 'button', data: {function: 'clone-input'} %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= label person, :birth_date, 'Birth date:' %></strong>
    </td>
    <td>
      <%= text_field person, :birth_date %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= label person, :death_date, 'Death date:' %></strong>
    </td>
    <td>
      <%= text_field person, :death_date %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= label person, :honorific_prefix, 'Honorific prefix:' %></strong>
    </td>
    <td>
      <%= text_field person, :honorific_prefix %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= label person, :honorific_suffix, 'Honorific suffix:' %></strong>
    </td>
    <td>
      <%= text_field person, :honorific_suffix %>
    </td>
  </tr>

  </tbody>
</table>