<h3>Personal details</h3>
<div id="bibliographic">
  <div>
    <%= label person, :given_name, 'Given name' %>
    <%= text_field person, :given_name %>

    <%= label person, :family_name, 'Family name' %>
    <%= text_field person, :family_name %>

    <%= label person, :additional_name, 'Additional name' %>
    <%= text_field person, :additional_name %>
  </div>

  <div>
    <%= label person, :address, 'Address' %>
    <%= text_field person, :address %>
  </div>
  <div>
    <%= label person, :gender, 'Gender' %>
    <%= text_field person, :gender %>
  </div>
  <div>
    <%= label person, :job_title, 'Job title' %>
    <%= text_field person, :job_title %>
  </div>
  <div>
    <%= label person, :email, 'Email' %>
    <%= text_field person, :email %>
  </div>
  <div>
    <%= label person, :birth_date, 'Birth date' %>
    <%= text_field person, :birth_date %>
    <%= label person, :death_date, 'Death date' %>
    <%= text_field person, :death_date %>
  </div>

</div>