<h3>Personal details</h3>
<div id="bibliographic">
  <div>
    <%= label person, :given_name, 'Given name' %>
    <%= text_field person, :given_name %>

    <%= label person, :family_name, 'Family name' %>
    <%= text_field person, :family_name %>

    <%= label person, :additional_name, 'Additional name' %>
    <%= text_field person, :additional_name %>
  </div>

  <div>
    <%= label person, :address, 'Address' %>
    <%= text_field person, :address %>
  </div>
  <div>
    <%= label person, :gender, 'Gender' %>
    <%= text_field person, :gender %>
  </div>
  <div>
    <%= label person, :job_title, 'Job title' %>
    <%= text_field person, :job_title %>
  </div>
  <div>
    <%= label person, :email, 'Email' %>
    <% @person.email.each do |email| %>
        <%= text_field person, :email, :multiple => true, :value => email %>
    <% end %>
    <%= button_tag "Add more", type: 'button', data: {function: 'clone-input'} %>
  </div>
  <div>
    <%= label person, :birth_date, 'Birth date' %>
    <%= text_field person, :birth_date %>
    <%= label person, :death_date, 'Death date' %>
    <%= text_field person, :death_date %>
  </div>

</div>