<h3>Personal details</h3>
<table class="table table-striped">
  <tbody>
  <% unless person.given_name.blank? %>
      <tr>
        <td>
          <strong>Given name:</strong>
        </td>
        <td>
          <span><%= person.given_name %></span>
        </td>
      </tr>
  <% end %>
  <% unless person.family_name.blank? %>
      <tr>
        <td>
          <strong>Family name:</strong>
        </td>
        <td>
          <span><%= person.family_name %></span>
        </td>
      </tr>
  <% end %>
  <% unless person.additional_name.blank? %>
      <tr>
        <td>
          <strong>Additional name:</strong>
        </td>
        <td>
          <span><%= person.additional_name %></span>
        </td>
      </tr>
  <% end %>
  <% unless person.address.blank? %>
      <tr>
        <td>
          <strong>Address:</strong>
        </td>
        <td>
          <span><%= person.address %></span>
        </td>
      </tr>
  <% end %>
  <% unless person.gender.blank? %>
      <tr>
        <td>
          <strong>Gender:</strong>
        </td>
        <td>
          <span><%= person.gender %></span>
        </td>
      </tr>
  <% end %>
  <% unless person.job_title.blank? %>
      <tr>
        <td>
          <strong>Job title:</strong>
        </td>
        <td>
          <span><%= person.job_title %></span>
        </td>
      </tr>
  <% end %>
  <% unless person.email.blank? %>
      <tr>
        <td>
          <strong>Email address:</strong>
        </td>
        <td>
          <span><%= @person.email.join(", ") %></span>
        </td>
      </tr>
  <% end %>
  <% unless person.birth_date.blank? %>
      <tr>
        <td>
          <strong>Birth date:</strong>
        </td>
        <td>
          <span><%= person.birth_date %></span>
        </td>
      </tr>
  <% end %>
  <% unless person.death_date.blank? %>
      <tr>
        <td>
          <strong>Death date:</strong>
        </td>
        <td>
          <span><%= person.death_date %></span>
        </td>
      </tr>
  <% end %>

  </tbody>
</table>
