<h3>General</h3>
<table class="table table-striped">
  <tbody>
  <tr>
    <td>
      <strong><%= label thing, :_name, 'Name:' %></strong>
    </td>
    <td>
      <%= text_field thing, :_name %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= label thing, :alternate_names, 'Alternate names:' %></strong>
    </td>
    <td>
      <%= text_field thing, :alternate_names %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= label thing, :description, 'Description:' %></strong>
    </td>
    <td>
      <%= text_field thing, :description %>
    </td>
  </tr>
  </tbody>
</table>