<!--<h3>General</h3>-->
<% type = thing.class.name.demodulize.downcase %>
<div class="form-inline">
  <% unless thing.same_as_uri.empty? %>
      <% thing.same_as_uri.each do |uri| %>
          <%= #Hidden field for the URI
              text_field type, :same_as_uri, :hidden => true, :multiple => true, :value => uri %>
      <% end %>
  <% else %>
      <%= text_field thing, :same_as, :id => "myViafId" %>
      <button id='import_viaf' class="btn btn-default" type="button" onclick="viafImport('<%= type.pluralize %>');">
        Import from VIAF
      </button>
      <%= #Hidden field for the URI
          text_field type, :same_as_uri, :id => 'viaf_id', :hidden => true, :multiple => true %>
  <% end %>
</div>

<table class="table table-striped">
  <tbody>
  <% unless thing.same_as_uri.empty? %>
      <tr>
        <td>
          <strong>Same as:</strong>
        </td>
        <td>
          <% thing.same_as_uri.each do |uri| %>
              <%= link_to(uri, uri) if uri.present? %><br>
          <% end %>
        </td>
      </tr>
  <% end %>
  <% if thing.is_a? Authority::Organization %>
      <tr>
        <td>
          <strong><%= f.label :_name, "Name:" %></strong>
        </td>
        <td>
          <%= f.text_field :_name %>
        </td>
      </tr>
  <% end %>
  <tr>
    <td>
      <strong><%= f.label :alternate_names, 'Alternate Names:' %></strong>
    </td>
    <td>
      <% if !thing.alternate_names.empty? %>
          <% thing.alternate_names.each do |alternateN| %>
              <%= f.text_field :alternate_names, :multiple => true, :value => alternateN %>
          <% end %>
      <% else %>
          <%= f.text_field :alternate_names, :multiple => true %>
      <% end %>
      <%= button_tag "Add more", type: 'button', data: {function: 'clone-input'} %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= f.label :description, 'Description:' %></strong>
    </td>
    <td>
      <%= f.text_field :description %>
    </td>
  </tr>
  </tbody>
</table>
