<h3>General</h3>
<table class="table table-striped">
  <tbody>
  <tr>
    <td>
      <strong><%= f.label :_name, "Name:"  %></strong>
    </td>
    <td>
      <%= f.text_field :_name %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= f.label :alternate_names, 'Alternate Names:' %></strong>
    </td>
    <td>
      <% if !thing.alternate_names.empty? %>
          <% thing.alternate_names.each do |alternateN| %>
              <%= f.text_field :alternate_names, :multiple => true, :value => alternateN %>
          <% end %>
      <% else %>
          <%= f.text_field :alternate_names, :multiple => true %>
      <% end %>
      <%= button_tag "Add more", type: 'button', data: {function: 'clone-input'} %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= f.label :description, 'Description:' %></strong>
    </td>
    <td>
      <%= f.text_field  :description %>
    </td>
  </tr>
  </tbody>
</table>
